
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<partial name="_profilePhoto"/>

<div>
    @RenderBody()
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}

@*<h2>Manage your account</h2>

    <div>
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>*@



<!--Avatar Modal Structure -->
<!--<div id="modalAvatar" class="modal hoverable">


    <form method="post" class="col s12" enctype="multipart/form-data" action="Manage/ProfilePhoto">
        <div class="modal-content row">
            <i class="black-text material-icons modal-close small right">close</i>
            <h4 class="blue-text">Change Avatar</h4>
            <div class="file-field input-field col s10 offset-s1 l8 offset-l2">
                <div class="btn green">
                    <span>File</span>
                    <input type="file" asp-for="model.">
                </div>
                <div class="file-path-wrapper">
                    <input type="text" class="file-path" placeholder="Choose an image" accept="image/png, image/jpeg">
                </div>
            </div>
            <div class="col s12 modal-footer">
                <button id="update-profilePhoto-button" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

</div>-->

