@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h3>@ViewData["Title"]</h3>
<p>
    Your password has been changed.
</p>



@{ if (User.Identity.IsAuthenticated)
    {
    <p>Please <a href="./Index">click here to adjust settings</a>.</p>
    }
    else
    {
        <p>Please <a href="./Login">click here to log in</a>.</p>
    }
        
}

