@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = "success";

    if (Model.StartsWith("Error"))
    {
        statusMessageClass = "error";
    }

    if (Model.StartsWith("Info"))
    {
        statusMessageClass = "info";
    }

    <div id="toasts" class="center">
        <div class="toast @statusMessageClass">
            @Model
        </div>
    </div>


    <script>
        notif = document.getElementById("toasts");
        setTimeout(() => notif.remove(), 3100);
    </script>

}
