@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<center>


    <h4> Forgot Your Password? </h4>
    <div class="row">
        <div class="col s10 offset-s1 l6 offset-l3">
            <hr />
        </div>
    </div>
    <p>We can help. Enter your mobile for a magical reset link.</p>


    <div class="row">
        <div class="card horizontal hoverable col l4 s10 offset-l4 offset-s1" style="border-radius: 25px 25px 25px 25px">

            <div class="row card-content">
                <form id="registerConfirm" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="row">

                        <div class="col s5">
                            <label for="country" asp-for="Input.PhoneNumberCountryCode"><i class="tiny material-icons">flag</i> Country</label>
                            <select id="country" tyepe="text" class="browser-default" asp-for="Input.PhoneNumberCountryCode" asp-items="Model.AvailableCountries" class="form-control"></select>

                        </div>

                        <div class="input-field col s7">
                            <label for="number" asp-for="Input.PhoneNumber"><i class="tiny material-icons">phonelink_ring</i> Mobile</label>
                            <input id="number" type="text" asp-for="Input.PhoneNumber" class="form-control" onkeydown="return keyispressed(event)" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Enter</button>


                </form>
            </div>
        </div>
    </div>
</center>

<script src="~/js/registerManager.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
