@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">

    <div class="s12 hide-on-large-only center">
        <img src="~/Media/kryptikWall.jpg" class="imgReg" style="width: 180px;" />
    </div>

    <div class="col s12 l8 offset-l2" id="subStatus" hidden>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section hide-on-small-only"></div>
        <div class="section hide-on-small-only"></div>
        <center>
            <img src="~/Media/spin.gif" class="animation-small" />
            <br>
            <h5>Creating your secure account. This may take a moment.</h5>
        </center>
    </div>

    <div class="col offset-l2 l4 s10 offset-s1">

        <div id="flowContainer">

            <div id="introContainer">
                <h1 class="heading textGradientBlue" style="margin-bottom: 3px;">A crypto wallet for everyone.</h1>
                <h1 class="subHeading" style="margin-top: 0px;">Send crypto to anyone, anywhere, at anytime.</h1>
                <a id="btnRegister" class="btn btn-search">Get Started →</a>
            </div>

            <div id="stepContainer" hidden>

                <div class="row">
                    <div class="card horizontal hoverable col l12  rounded ">
                        <div class="row card-content">
                            <h5>Register</h5>
                            <form id="sendForm" data-ajax="true" data-ajax-method="post" method="post" data-ajax-complete="handleSend" asp-page-handler="SendPhone">
                                <input id="phoneNumberSend" asp-for="Input.SendMod.PhoneNumber" type="hidden" />
                                <input id="phoneCountrySend" asp-for="Input.SendMod.PhoneNumberCountryCode" type="hidden" />
                            </form>

                            <form id="verifyForm" data-ajax="true" data-ajax-method="post" method="post" data-ajax-complete="handleVerify" asp-page-handler="VerifyPhone">
                                <input id="phoneNumberVerify" asp-for="Input.VerifyMod.PhoneNumber" type="hidden" />
                                <input id="phoneCountryVerify" asp-for="Input.VerifyMod.PhoneNumberCountryCode" type="hidden" />
                                <input id="phoneCodeVerify" asp-for="Input.VerifyMod.VerificationCode" type="hidden" />
                            </form>

                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <input id="seedShare" asp-for="Input.SeedShare" type="hidden" />
                                <input id="xpub" asp-for="Input.XPub" type="hidden" />
                                <div id="stepFormContainer">

                                    <div id="nameStep" class="row step" hidden>

                                        <div class="input-field col l12 ">
                                            <label for="user" type="text" asp-for="Input.UserName"><i class="tiny material-icons">person_outline</i> Cryptic Tag</label>
                                            <input id="user" type="text" asp-for="Input.UserName" class="form-control" />
                                        </div>
                                        <div class="input-field col l12 ">
                                            <label for="user" type="text" asp-for="Input.FullName"><i class="tiny material-icons">person</i> Name</label>
                                            <input id="user" type="text" asp-for="Input.FullName" class="form-control" />
                                        </div>

                                    </div>


                                    <div id="numberStep" class="row step" hidden>
                                        <div class="col s5">
                                            <label for="country" asp-for="Input.PhoneNumberCountryCode"><i class="tiny material-icons">flag</i> Country</label>
                                            <select id="country" class="browser-default" asp-for="Input.PhoneNumberCountryCode" asp-items="Model.AvailableCountries">
                                            </select>

                                        </div>
                                        <div class="input-field col s7">
                                            <label for="number" asp-for="Input.PhoneNumber"><i class="tiny material-icons">phonelink_ring</i> Mobile</label>
                                            <input id="number" type="text" asp-for="Input.PhoneNumber" class="form-control" onkeydown="return keyispressed(event)" />
                                            <a style="text-align: right; display: block; padding-right: 2px;" id="confirmPhone">Confirm</a>
                                        </div>
                                        <div id="phoneCode">
                                            <div class="input-field offset-s5 col s7">
                                                <label for="codeInput" asp-for="Input.VerificationCode"><i class="tiny material-icons">phonelink_ring</i>Code</label>
                                                <input type="text" data-confirmed="false" asp-for="Input.VerificationCode" id="codeInput" placeholder="0123456" class="form-control" />
                                            </div>
                                            <a style="text-align: right; display:block; padding-right: 4px;" id="resetPhone">Reset</a>

                                        </div>
                                        <p id="statusVerify" style="text-align: right; display:block; padding-right: 4px;" id="resetPhone" hidden></p>

                                    </div>


                                    <div id="pwordStep" class="step" hidden>

                                        <div class="row">
                                            <div class="pword-field col l12 s12">
                                                <label for="pword" asp-for="Input.Password"><i class="tiny material-icons">lock_outline</i> Password</label>
                                                <input id="pword" type="password" asp-for="Input.Password" class="form-control" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="pword-field col l12 s12">
                                                <label for="pwordConfirm" asp-for="Input.ConfirmPassword"><i class="tiny material-icons">lock</i> Confirm Password</label>
                                                <input id="pwordConfirm" type="password" asp-for="Input.ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <!-- toggle between password visibility -->
                                        <div class="row">
                                            <div class="col s6">
                                                <input type="checkbox" class="filled-in checkbox-blue" onclick="" id="show">
                                                <label for="show">Show</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>




                                <div id="btnContainer" class="row">
                                    <a id="btnBack" class="btnStep btn btn-flow rounded col s5">← Back</a>
                                    <a id="btnNext" data-step="0" class="btnStep btn btn-flow col s5 offset-s2 rounded">Next →</a>
                                    <a id="btnSubmit" class="btn btn-glow col s6 offset-s1">Register</a>
                                </div>


                                <div id="progressContainer">
                                    <div class="Progressbar">
                                        <div class="Progressbar__value"></div>
                                        <progress value="70" max="100">100%</progress>
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>



    </div>

    <div class="col l6 s12 hide-on-med-and-down">
        <img src="~/Media/kryptikWall.jpg" class="imgReg" style="width: 180px;" />
        <h6 style="padding-left: 20px;">Payments made <span class="change-text imgReg">easy</span></h6>
    </div>


</div>

scripts needed for key generation
<script src="~/js/keyManager.js" type="module"></script>
<script src="~/js/registerManager.js"></script>
<script src="~/js/changeText.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
        integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
        crossorigin="anonymous"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}