@page
@model CrypticPay.Areas.Payments.Pages.Wallet.IndexModel
@{
    ViewData["Title"] = "Wallet";
}

<h4>Your Wallet</h4>
<center>
    <form id="formBal" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="showBal" asp-page-handler="ObtainWalletData">
        <button class="btn btn-search" data-shown="false" id="btnBal">Reveal Accounts</button>
    </form>
    <a class="right-align" asp-page="Manage">Manage Wallet</a>
</center>

<div class="row" id="balContainer">

</div>



<script src="~/js/balanceManager.js"></script>
