@page
@model CrypticPay.Areas.Payments.Pages.Wallet.ManageModel
@{
    ViewData["Title"] = "Wallet";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<script>
    $(document).ready(function () {
        $('#deleteModal').modal();
        $('#typeModal').modal();
    });
</script>

<div class="section hide-on-small-only"></div>
<div class="section hide-on-small-only"></div>


@{
    if (Model.CurrUser.WalletKryptikExists)
    {
        <h4>Wallet Manager</h4>


        <div class="row">
            <div class="col l6 offset-l3 s10 offset-s1 m8 offset-m2 card hoverable rounded">

                <div class="row">
                    <h1 class="asset-header textGradientBlue">Kryptik Wallet</h1>
                </div>

                <div class="row">
                    <p><span class="info-header">Date Created</span>: @Model.CurrUser.WalletKryptik.CreationTime.ToShortDateString()</p>
                    <p><span class="info-header">Coins Supported</span>: 4</p>
                    <p><span class="info-header">Wallet Type</span><a href="#typeModal" class="modal-trigger"><i class="material-icons" style="font-size: 14px; color: grey">info</i></a>: Noncustodial</p>
                </div>


                <div class="card-action right" style="margin-bottom: 4px;">
                    <a class="red-text modal-trigger" href="#deleteModal">Delete</a>
                    <!-- Update to include modal (aligned) and password protection -->
                    <a class="modal-trigger btn btn-search" href="#typeModal">Download Seed</a>
                </div>

            </div>
        </div>

        <!-- Modal Structure -->
        <div id="deleteModal" class="modal hoverable rounded">
            <form method="post" id="pwordForm" asp-page-handler="DeleteWallet">
                <div class="modal-content">
                    <i class="black-text material-icons modal-close small right">close</i>
                    <div class="row">



                        <h4 class="blue-text">Enter Password</h4>
                        <p class="red-text darken-2"><strong>Deleting your Kryptik wallet can not be undone. Please ensure you have backed up your wallet to avoid losing your crypto.</strong></p>


                        <div class="row">
                            <div class="col s12 l6 pword-field">
                                <label asp-for="Input.Password">Password</label>
                                <input id="pword" asp-for="Input.Password" type="Password" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6">
                                <input type="checkbox" class="filled-in checkbox-blue" onclick="showPassword()" id="show">
                                <label for="show">Show</label>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-delete" type="submit" style="margin-right: 20px; margin-bottom: 5px;">Delete Wallet</button>
                </div>
            </form>

        </div>


        <!-- Modal Structure -->
        <div id="typeModal" class="modal hoverable rounded">
            <div class="modal-content">
                <h4 style="color: #00c72e;">Wallet Type</h4>
                <p>
                    Crypto wallets can be either custodial or non custodial. Noncustodial wallets give you full control over your crypto experience. Custodial wallets allow a third party to manage your private key and execute transactions on your behalf.
                </p>
                <p>Kryptik wallets are noncustodial by default.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="white modal-close waves-effect waves-blue btn-flat" style="margin-right: 20px; margin-bottom: 5px;">Close</a>
            </div>
        </div>

    }
    else
    {
        // meta user info. used for client side key generation and storage
        <partial name="_MetaUserPartial"/>
        <div class="row">

            <div class="s12 hide-on-large-only center">
                <img src="kryptikConcept.jpg" style="width: 180px;" />
            </div>

            <div class="col offset-l2 l4 s10 offset-s1">
                <h1 class="heading textGradientBlue" style="margin-bottom: 3px;">A crypto wallet for everyone.</h1>
                <h1 class="subHeading" style="margin-top: 0px;">Send crypto to anyone, anywhere, at anytime.</h1>
                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="walletComplete" asp-page-handler="CreateWallet">
                    <input type="text" asp-for="Input.ExtendedPublicKey" id="extPubKey" hidden />
                    <input type="text" asp-for="Input.RemoteShare" id="remoteShare" hidden />
                    <button id="btnCreateWallet" class="btn btn-search">Create Wallet</button>
                </form>
            </div>

            <div class="col l6 s12 hide-on-med-and-down">
                <img src="~/Media/kryptikWall.jpg" style="width: 180px;" />
            </div>

        </div>
    }
}

<div id="walletContainer"></div>



<script src="~/js/ext/bip39.min.js"></script>
<script src="~/js/ext/hdkey.min.js"></script>
<script src="~/js/ext/shamir.min.js"></script>
<script src="~/js/keyManager.js"></script>
<script src="~/js/registerManager.js"></script>
<script src="~/js/CreateWalletManager.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
        integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
        crossorigin="anonymous"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
