@page
@model CrypticPay.Areas.Community.Pages.testModel
@{
}
@*used for testing purposes only*@
<h1>Testing Page</h1>

<a id="testBtn" class="btn btn-action">Test ME!</a>

<script src="~/js/ext/bip39.min.js"></script>
<script src="~/js/ext/hdkey.min.js"></script>
<script src="~/js/ext/shamir.min.js"></script>
<script src="~/js/keyManager.js"></script>
<script src="~/js/test.js"></script>


