@page
@model CrypticPay.Areas.Payments.SendModel
@{

    ViewData["Title"] = "Send";
}




<div class="section hide-on-small-only"></div>
<div class="section hide-on-small-only"></div>



<center>
    <div id="statusContainer">

    </div>
    <div id="sendContainer">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form id="transactionForm" data-ajax="true" data-ajax-method="post" data-ajax-complete="CreateTrasaction" asp-page-handler="CreateTransaction">
            <div class="row">
                <div class="amount-field col s12 l12 m12">
                    <input class="input-number inputAmount center" asp-for="Input.Amount" id="amount" type="text">
                </div>
            </div>

            <input type="hidden" id="mainCoin" asp-for="Input.CoinName" />
            <span asp-validation-for="Input.CoinName" class="text-danger"></span>
            <input type="hidden" id="mainTo" asp-for="Input.To" />
            <span asp-validation-for="Input.To" class="text-danger"></span>
            <input type="hidden" id="mainFor" asp-for="Input.For" />
            <span asp-validation-for="Input.For" class="text-danger"></span>

        </form>


        <div class="row">



            <div class="row">
                <div class="input-field col s10 l4 offset-l4 offset-s1">
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input" class="labelSend">Coin</label>
                </div>
            </div>


            <div class="row">
                <div class="col s10 l4 offset-l4 offset-s1 inputBox">
                    <span class="labelSend">To:</span>
                    <div class="input-field inline">
                        <i id="clearIcon" style="position: absolute; right: 0px;" class="material-icons tiny" hidden>close</i>
                        <form method="post" id="searchForm" data-ajax="true" data-ajax-method="post" data-ajax-complete="ShowSearchFriendsResult" asp-page-handler="SearchUsers">
                            <input id="to" data-selected="false" type="text" placeholder="Kryptik Tag or SMS" class="validate align-right" asp-for="Input.SearchStringAsync">
                        </form>
                    </div>
                </div>
                <div id="searchFriendContainer">

                </div>
            </div>

            <div class="row">
                <div class="col s10 l4 offset-l4 offset-s1 inputBox">
                    <span class="labelSend">For:</span>
                    <div class="input-field inline">
                        <input id="for" type="text" placeholder="Dinner, movie, etc." class="validate align-right">
                    </div>
                </div>
            </div>

        </div>

        <button id="create-transaction-button" type="submit" class="btn btn-primary">Send</button>

    </div>

</center>

<div class="section"></div>



<script src="~/js/sendManager.js"></script>
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var amount = $('#amount');
        amount.focus();
        amount.val("$0");
        $('input.autocomplete').autocomplete({
            data: @Html.Raw(Model.DataJson),
       });
    });
</script>
<script src="~/js/amountManager.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
        integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
        crossorigin="anonymous"></script>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}