@{
    IEnumerable<CrypticPay.Services.DataTypes.GroupAndMembers> groups = (IEnumerable<CrypticPay.Services.DataTypes.GroupAndMembers>)ViewData["UserGroups"];
}

@using Microsoft.AspNetCore.Identity
@using CrypticPay.Areas.Identity.Data

@inject UserManager<CrypticPayUser> UserManager



@{
    if (!groups.Any())
    {
        <p><i>Your groups will appear here.</i></p>
    }
    else
    {
        var userInfo = UserManager.GetUserAsync(User).Result;
        foreach (var gu in groups)
        {

            var nameList = new List<string>();
            var photoList = new List<string>();
            var uList = new List<string>();
            foreach (var userId in gu.UserIds)
            {
                var user = await UserManager.FindByIdAsync(userId);
                if (userId != userInfo.Id)
                {
                    nameList.Add(user.Name);
                    photoList.Add(user.ProfilePhotoPath);
                    uList.Add(user.UserName);
                }
            }
            string nameString = string.Join(",", nameList);
            string uNameString = string.Join(",", uList);
            @*Add default in case photo doesn't exist'*@
            <div class="row valign-wrapper msgSideBox" data-group="@gu.Group.Id" data-members="@uNameString">
                <div class="col s2">
                    <img src="@photoList[0]" alt="user photo" style="width: 40px;" class="circle">
                </div>
                <div class="col s9 offset-s1">
                    <span style="align: left; font-size: 14px; font-weight: 400px;" class="truncate">@nameString</span>
                </div>
            </div>
        }
    }

}
