@page
@model CrypticPay.Areas.Community.Pages.Content.UploadModel
@{
    ViewData["Title"] = "Upload Media";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <h4 class="textGradientGreen">Create New Item</h4>
</div>

<div class="row">

    <div class="card horizontal hoverable col l6 s10" style="border-radius: 25px 25px 25px 25px; padding-top: 5%;">
        <div class="row">
            <center>
                <img src="media/fileUpload.svg" style="width: 80px;">
                <h5>Upload <span class="textGradientBlue">photo</span>, <span class="textGradientBlue">video</span>, or <span class="textGradientBlue">audio</span> files</h5>
            </center>
            <form method="post" class="col s12" enctype="multipart/form-data" asp-page-handler="Upload">
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn btn-file">
                            <span>File</span>
                            <input type="file" asp-for="Input.NewFile">
                        </div>
                        <div class="file-path-wrapper">
                            <input type="text" class="file-path" placeholder="Choose an image" onchange="form.submit()" accept="image/png, image/jpeg">
                        </div>
                    </div>

                </div>
            </form>
        </div>


    </div>

</div>


<script>

</script>
